# Weaviate Configuration (v3 client for Weaviate 1.19.1)
WEAVIATE_ENDPOINT=http://10.148.0.2
WEAVIATE_API_KEY=WVF5YThaHlkYwhGUSmCRgsX3tD5ngdN8pkih

# Zilliz Cloud Configuration
ZILLIZ_CLOUD_URI=https://in01-e74331997fc3fbe.gcp-asia-southeast1.vectordb.zillizcloud.com:443
ZILLIZ_CLOUD_API_KEY=1f7f189111d65b5a28fa06dff3271af8453e682f3ac72449d9b5aec521d090645acc773cd8269521a38dabc5ae11fbe5e8fa48a1
ZILLIZ_CLOUD_DATABASE=qa

# Migration Configuration
MIGRATION_BATCH_SIZE=1000


PG_HOST=10.67.78.16
PG_PORT=5432
PG_DATABASE=dev-beta-dify
PG_USER=dev-dify
PG_PASSWORD=2vFYCuQa2LfujSVRUHds
DRY_RUN=false  


MAX_COLLECTION_WORKERS=3         
MIGRATION_BATCH_SIZE=250         
MIGRATION_MAX_RETRIES=3      